body {
    font-weight: 400;
    line-height: 1.6;
    max-width: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
img {
    max-width: 100%;
    height: auto;
}
pre {
    white-space: pre-wrap;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}
